

<a href={{ url_for('sourceSelector') }}><button>Home</button></a>

<div id="content">
            {% if session['source'] %}
            <br>
            All Current Articles from from <strong>{{session['source']}}</strong>.<br/>
            {% else %}
            You session is not working yet.
            {% endif %}


           
      <dl>
      <form action="" method=post>
      {% set id = 1 %}
      {% for key in index_article_list %}
            <!-- <input type="checkbox" name="checkbox[]" value="{{key[0]}},{{key[1]}}"<dt><a href="{{key[0]}}">{{key[1]}}<br></dt>  -->
            <input type="checkbox" name="checkboxes" value="{{key[0],key[1]}}"<dt><a href="{{key[0]}}">{{key[1]}}<br></dt> 
            {% set id = id + 1 %}
      {% endfor %}
        <input type="submit" value="Submit">

      </form>

</dl>
<div>