

<a href={{ url_for('sourceSelector') }}><button>Home</button></a>

<div id="content">
            {% if session['source'] %}
            <br>
            All Current Articles from from <strong>{{session['source']}}</strong>.<br/>
            {% else %}
            You session is not working yet.
            {% endif %}


           
      <dl>{% for key in index_article_list %}
            <dt><a href="{{key[0]}}">{{key[1]}}<br></dt> 
            <!-- <a href="http://www.bbc.com">bbc</a><br> -->
      {% endfor %}
</dl>
<div>