<a href="{{ url_for('index') }}"><button>Home</button></a>
<a href="{{ url_for('form') }}"><button>Form</button></a>


<div id="content">
            {% if session['name'] %}
            Your name seems to be <strong>{{session['name']}}</strong>.<br/>
            {%else%}
            Your Name could be dave
            {%endif%}
    
<div>

<h1> Hi {{name}}, Please Pick Source for your Articles Todaytesttest</h1>

<img src="/images/bbc.png" alt="Mountain View" style="width:128px;height:128px">


<a href="{{ url_for('shortlist') }}"><img src="/images/fox.png" alt="Mountain View" style="width:128px;height:128px"></a>


<a href="{{ url_for('shortlist', variable="foo") }}"><img src="/images/dailymail.png"></a>

