

<a href={{ url_for('sourceSelector') }}><button>Feed Selector</button></a>

<div id="content">
            {% if session['source'] %}
            <br>
            <strong>{{session['source']}}</strong>:<br/>
            {% else %}
            You session is not working yet.
            {% endif %}

            <h1> short list </h1>
         
            <!-- {{session['shortlistitems']}} -->
               <form action="" method=post>
      			{% set id = 1 %}

      		{% for key in session['shortlistitems'] %}
          <a target="myIframe" href="{{ key.keys()|deDictUni() }}" onclick="setIframeSrc('myIframe', this.href); return false">{{key.values()|deDictUni()}}</a><br>
          {% endfor %}
        <input type="submit" value="Joke Writer">
        <iframe width=95% height=300 name="myIframe"> ddkdk</iframe>

      </form>


         

<div>