

<a href={{ url_for('sourceSelector') }}><button>Home</button></a>

<div id="content">
            {% if session['source'] %}
            <br>
            All Current Articles from from <strong>{{session['source']}}</strong>.<br/>
            {% else %}
            You session is not working yet.
            {% endif %}

            <h1> short list </h1>
         
            {{session['shortlistitems']}}
               <form action="" method=post>
      			{% set id = 1 %}

      		{% for key in session['shortlistitems'] %}
                   {% print key %}<br>
 	         <!-- <a href="{% print key[3] %}"></a><br> -->
      		{% endfor %}
        <input type="submit" value="Submit">

      </form>


         

<div>