<a href="{{ url_for('sourceSelector') }}"><button>Home</button></a>
<a href="{{ url_for('name_form') }}"><button>What's Your Name</button></a>
<a href="{{ url_for('shortlist') }}"><button>shortlist</button></a>
<a href="{{ url_for('clear') }}"><button>clear shortlist</button></a>



<div id="content">
            {% if session['name'] %}
            <strong> HI {{session['name']}}</strong><br/>
            {%else%}
            Fine, don't tell us your name - I'm going to call you <strong> Dave... so Dave </strong>
            {%endif%}    
</div>

<div class="title">
</div>

<h2> Please Pick Source for your Articles</h2>
<div>
	<form method="get" action="{{ url_for('sourceSelector') }}">

	 <input type="image" src="/images/fox.png" value='fox' name="articleSource"  />
	 <input type="image" src="/images/bbc.png" value='bbc' name="articleSource"  />
	 <input type="image" src="/images/dailymail.png" value='dailymail' name="articleSource"  />
	</form>
</div>
