<a href="{{ url_for('sourceSelector') }}"><button>Home</button></a>
<a href="{{ url_for('name_form') }}"><button>What's Your Name</button></a>


<div id="content">
            {% if session['name'] %}
            <strong>{{session['name']}}</strong><br/>
            {%else%}
            Fine, don't tell us your name - I'm going to call you <strong> Dave </strong>
            {%endif%}    
</div>

<div class="title">
	<h1>Store your article Source into a session variable</h1>
</div>

<h2> Hi {{name}}, Please Pick Source for your Articles</h2>
<div>
	<form method="get" action="{{ url_for('sourceSelector') }}">

	 <input type="image" src="/images/fox.png" value='fox' name="articleSource"  />
	 <input type="image" src="/images/bbc.png" value='bbc' name="articleSource"  />
	 <input type="image" src="/images/dailymail.png" value='dailymail' name="articleSource"  />
	</form>
</div>
